.puzzles-container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(300px, 9fr));
    /* grid-template-rows: repeat(auto-fit, minmax(300px, 9fr)); */
    /* gap: 20px; */
    /* margin-top: 100px; */

}

.puzzle-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    margin-right: 5px;
    box-sizing: border-box;
    display:grid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    /* max-width:    300px; */
}

.puzzle-item img {
    display:flexbox;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 250px;
    min-height: 90%;
    margin: auto;
    height: auto;
}


.puzzle-text {
    margin: auto;
}

.puzzle-item h3 {
    color: black;
    margin-top: 10px;
  }
  
.puzzle-link {
    text-decoration: none;
}

.puzzle-link:hover .puzzle-item  {
    
    filter: brightness(80%);   
}

.search-container {
    margin-top: 100px;
}
